<p>
<label for="{title_id}">{title_text}</label> 
<input class="widefat" id="{title_id}" name="{title_id}" type="text" value="{title_value}">
</p>
<p>
<label for="{narrator_id}">{narrator_text} (click <a href="/wp-admin/options-general.php?page=islam-companion-settings-admin">here</a> to change)</label> 
<input class="widefat" id="{narrator_id}" name="{narrator_id}" type="text" value="{narrator_value}" readonly>
</p>
<p>
<label for="{language_id}">{language_text} (click <a href="/wp-admin/options-general.php?page=islam-companion-settings-admin">here</a> to change)</label> 
<input class="widefat" id="{language_id}" name="{language_id}" type="text" value="{language_value}" readonly>
</p>
<p>
<label for="{sura_id}">{sura_text}</label> 
<input class="widefat" id="{sura_id_id}" name="{sura_id_id}" type="numeric" value="{sura_id_value}">
</p>
<p>
<label for="{start_ayat_id}">{start_ayat_text}</label> 
<input class="widefat" id="{start_ayat_id}" name="{start_ayat_id}" type="numeric" value="{start_ayat_value}">
</p>
<p>
<label for="{end_ayat_id}">{end_ayat_text}</label> 
<input class="widefat" id="{end_ayat_id}" name="{end_ayat_id}" type="numeric" value="{end_ayat_value}">
</p>
<p>
<label for="{container_id}">{container_text}</label> 
{container_dropdown}
</p>
<p>
<label for="{css_class_id}">{css_class_text}</label> 
<input class="widefat" id="{css_class_id}" name="{css_class_id}" type="text" value="{css_class_value}">
</p>
<p>
<label for="{audio_player_id}">{audio_player_text}</label> 
{audio_player_dropdown}
</p>